/* @author hooriza@gmail.com */

.hairline {
	border-width:.5px !important;
}

_:-webkit-full-screen, :root .hairline {
	border-width:0 !important;
}

_:-webkit-full-screen, :root .hairline::before {
	content:'';
	pointer-events:none;

	position:absolute;
	box-sizing:border-box;

	left:0; top:0;
	width:200%; height:200%;

	border:inherit;
	border-width:1px;
	border-radius:inherit;

	transform:scale(.5) translate3d(0,0,0);
	transform-origin:left top;
	-webkit-transform:scale(.5) translate3d(0,0,0);
	-webkit-transform-origin:left top;
}
