/* @author hooriza@gmail.com */

.hairline {
	border-width:.5px !important;
}

_:-webkit-full-screen, :root .hairline {
	border-width:0 !important;
}

_:-webkit-full-screen, :root .hairline::before {
	content:'';
	pointer-events:none;

	position:absolute;
	box-sizing:border-box;

	left:0; top:0;
	width:200%; height:200%;

	border:inherit;
	border-width:1px;
	border-radius:inherit;
	/*
		자동으로 보정할 방법이 정녕 없는 것인가...
		border-radius: calc(inherit*2)
		border-radius: calc(attr(data-border-radius px)*2);
	*/

	transform:scale(.5) translate3d(0,0,0);
	transform-origin:left top;
	-webkit-transform:scale(.5) translate3d(0,0,0);
	-webkit-transform-origin:left top;
}
